@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:root,
  html {
    @apply bg-tea-green dark:bg-gunmetal;
    font-family: Poppins;
  }

  body {
    @apply bg-tea-green text-gunmetal dark:bg-gunmetal dark:text-tea-green;
  }

  /* *::-webkit-resizer {
    background: transparent url() no-repeat -1px -1px;
  } */

  *::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  *::-webkit-scrollbar:window-inactive {
  }

  *::-webkit-scrollbar:corner-present {
  }

  *::-webkit-scrollbar-track-piece {
    @apply rounded-sm border-4 border-solid border-transparent bg-blue-saphire bg-clip-content dark:bg-granny-smith-apple;
  }

  *::-webkit-scrollbar-track-piece:decrement {
    @apply rounded-sm border-4 border-solid border-transparent bg-prussian-blue bg-clip-content dark:bg-emerald;
  }

  *::-webkit-scrollbar-thumb {
    @apply h-10 w-1 rounded-md bg-gunmetal shadow dark:bg-tea-green;
  }

  *::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-track-piece:no-button {
    @apply bg-indigo-dye dark:bg-granny-smith-apple;
  }

  /* *::-webkit-scrollbar-button:vertical:start:decrement {
    background: transparent url() no-repeat center center;
  } */

  /* *::-webkit-scrollbar-button:vertical:end:decrement {
    background: transparent url() no-repeat center center;
  } */

  /* *::-webkit-scrollbar-button:vertical:end:increment {
    background: transparent url() no-repeat center center;
  } */

  /* *::-webkit-scrollbar-button:horizontal:decrement {
    background: transparent url() no-repeat center center;
  } */

  /* *::-webkit-scrollbar-button:horizontal:increment {
    background: transparent url() no-repeat center center;
  } */
}

.btn-selectable {
  @apply rounded-lg hover:bg-keppel focus:outline-none focus:ring-inset focus-visible:ring-2 focus-visible:ring-gunmetal active:bg-cadet-blue dark:hover:bg-cadet-blue dark:focus-visible:ring-tea-green dark:active:bg-blue-saphire;
}

.btn-contact {
  @apply btn-selectable flex items-center bg-tea-green p-3 text-base font-bold dark:bg-indigo-dye;
}

.btn-contact-icon {
}

.btn-navbar-icon {
  @apply inline-flex items-center rounded-lg bg-transparent p-2 hover:bg-keppel focus:outline-none focus:ring-inset focus-visible:ring-2 focus-visible:ring-gunmetal active:bg-cadet-blue;
}

.btn-navbar-category {
  @apply block rounded-lg p-2 hover:bg-keppel focus:outline-none focus-visible:ring-2 focus-visible:ring-gunmetal active:bg-cadet-blue dark:hover:bg-cadet-blue dark:active:bg-blue-saphire max-md:px-2.5 max-md:py-2.5 dark:focus-visible:max-md:ring-tea-green;
}

.btn-footer-icon {
  @apply inline-flex items-center rounded-lg bg-transparent p-1 focus:outline-none focus:ring-inset focus-visible:ring-2 focus-visible:ring-gunmetal;
}
